context_obtention/Wikipedia_datasets/basque/depth_4/specific_wikipedia_files/output_ba_environmental.txt filter=lfs diff=lfs merge=lfs -text
context_obtention/Wikipedia_datasets/spanish/depth_4/specific_wikipedia_files/eswiki_environmental.txt filter=lfs diff=lfs merge=lfs -text
